<div class="container-fluid" style="min-height:100%">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if "Error" not in message %}
                    <div class="alert alert-success fade in alert-position">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger fade in alert-position">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
